
.contenedor {
    width: 100%;
    height: 665px;
    border: black solid;
    background-color: green;
    justify-content: center;
    align-items: center;
   
    
}

.hijo {
    width: 75%;
    height:auto;
    background-color: black;
    border: green solid;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    margin-bottom: auto;
    margin-top: 25px;
    font-family: Jetbrains Mono;
}
.sub1 {
    color:green;
    background-color: black;
    font-family: Jetbrains Mono;
    
}
.hijo1 {
    color: green;
    background-color: black;
    justify-content: center;
    width: 95%;
    height: 75vh;
    border: rgb(58, 38, 1) solid;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: Jetbrains Mono;
    
}
.toptop {
    margin-top: 75px;
    
}
.sinf {
    margin-top: 15px;
}
.foot 
{
 display: flex;
 justify-content: center;
 align-items: center;
 padding-top: 5px;
 background-color: green;
 border: black solid;
 font-family: Jetbrains Mono;
color: black;
 font-weight:bolder;
}